body {
    background: linear-gradient(to bottom, #252025, #202020);
}

#open {
    background-color: #00b6de;
    color: black;
}

.navbar {
    border-color: black;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: #404040;
    background-color: rgb(40, 40, 40);

    display: flex;
    flex-direction: row;
    gap: 25px;
    text-align: center;

    color: white;

}

.navbar input {
    height: fit-content;
    width: 87px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.member {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

    border-style: solid;
    border-radius: 10px;
    border-color: black;

    gap: 10px;

    background: linear-gradient(to left, #202020, #6400de50);
}

.member h5 {
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
}

.member p {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}