body {
    background: linear-gradient(to bottom, rgb(41, 24, 24), rgb(31, 21, 43));
}

#open {
    border-radius: 15px;
    background-color: #00b6de;
    color: black;

}

.navbar {
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    margin: 3px;
    border-radius: 15px;
    background-color: rgb(40, 40, 40);

    display: flex;
    flex-direction: row;
    gap: 25px;
    text-align: center;

    color: white;
}

.navbar input {
    height: fit-content;
    width: fit-content;
}

.members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.member {
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 20px;

    margin: 10px;
    padding: 10px;

    width: 90%;

    background: linear-gradient(to bottom, #202020, #4600b770);
    color: white;


    

    
}

.member h5 {
    border-style: solid;
    border-radius: 50px;
    border-color: #006a82;

    padding: 10px;
    width: fit-content;

    background-color: #202020;
}

.member p {
    border-style: solid;
    border-radius: 10px;
    border-color: #822300;

    padding: 10px;
    width: fit-content;

    background-color: #202020;
}


.btn {
    background-color: #202020;
    border-style: solid;
    border-color: wheat;
    border-width: 2px;
    border-radius: 12px;

    color: white;

    height: fit-content;
    width: fit-content;
}


.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form {
    color: white;
}


@media (max-width: 600px) {
    .members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .member {
        border-color: #FFFFFF;
        border-radius: 20px;
        border-style: solid;

        padding: 10px;
        margin: 10px;
 
        width: 80%;
        color: white;
        background: linear-gradient(to bottom, #202020, #4600b770);
    }
}

@media (min-width: 601px) and (max-width: 1400px) {
    .members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .member {
        border-color: #FFFFFF;
        border-radius: 20px;
        border-style: solid;

        padding: 10px;
        margin: 10px;
 
        width: 80%;
        color: white;
        background: linear-gradient(to bottom, #202020, #4600b770);
    }
}

@media (min-width: 1900px) {
    .members {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .member {
        border-color: #FFFFFF;
        border-radius: 20px;
        border-style: solid;

        padding: 10px;
        margin: 10px;
 
        width: 90%;
        color: white;
        background: linear-gradient(to bottom, #202020, #4600b770);
    }
}